*{
  margin: 0;
  padding: 0;
}
body{
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
main{
  width: 70vw;
  height: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
  
}

div{
  width: 33%;
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: start;
  flex-direction: column;
  padding-left: 20px;
}
h1{
  font-family: Arial, Helvetica, sans-serif;
  color: white;
}
p{
  color: white;
  width: 80%;
  font-family: Arial, Helvetica, sans-serif;
  
}

button{

  width: 150px;
  height: 40px;
  border: none;
  border-radius: 50px;
  background-color: white;
}
.div1{
  background-color: rgb(255, 94, 0);
}
.div2{
  background-color: rgb(0, 225, 255);
}
.div3{
  background-color:rgb(20, 80, 25);
}