*{
  margin: 0;
  padding: 0;
}
body{
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color:bisque;
}
main{
  width: 40%;
  height: 60%;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  overflow: none;
}

img{
  width: 50%;
  height: 100%;
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
}
main> div{
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding-left: 20px;
}

main > div > div{
  display: flex;
  align-items: center;
  gap: 20px;
}