*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    height: 100vh;
    outline: none;
}


nav li,a{
    list-style: none;
    text-decoration: none;
    color:#329F5B;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    font-size: 15px;
    float: left;
}
.navdiv{
    
    width: 500px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: relative;
    left: 100px;
}



nav{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: rgba(0, 0, 0, 0.301);
   /* background-color: #35583470;*/
    height: 70px;
    position: fixed;
    top: 0;
    z-index: 1;
    width: 100%;
}



nav h1{
    
    text-decoration: none;
    color:#2F9C95;
   /* color:#294D4A ;*/
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    font-size: 30px;
    font-style: italic;
}

header{
    background: url(images/image1.png);
    
    height: 641px;
    background-size: cover;
    position: relative;
    
    display: flex;
    align-items: center;
    justify-content: right;
   

}


.p1{
    font-size: 30px;
    color: white;
    font-weight: 600;
    position: relative;
    right: 50px;
    
}

.div1{
   
    height: 30px;
    width: 20px;
    position: relative;
    right: 100px;
    border-right: solid 10px rgb(82, 80, 80);
    animation-name: anim1;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    left: 760px;
    
}


@keyframes anim1{
    50%{display: none; border-right: solid 10px transparent;}
    
}

footer{
    background-color: #337357;
    height: 600px;
    margin-top: 100px;
    
    display: flex;
    justify-content: space-around;
    
}


.div2 button{
    width: 200px;
    height: 40px;
    background-color: transparent;
    border: 2px solid white;
    border-radius: 20px;
    cursor: pointer;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    transition: 1s;
    position: relative;
    margin-bottom: 10px;
    left: 300px;
    top: 80px;
    
}



.div2 button:hover{
    background-color:white ;
    color:black;
}



.div2 h1{
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    font-size: 50px;
    color: #2F9C95;
    position: relative;
    top: 160px;

}


.div2 {
   
    width: 380px;
    height: 500px;
   
    

}


.div3{
    
    width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
    height: 400px;
    
}
.div3 p{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    font-size: 43px;
    color: white;
}
.div3 i{
    font-size: 50px;
    margin-left: 10px;
    cursor: pointer;
}


.div4{
    width:2px;
    height: 500px;
    background-color: white;
    position: relative;
    top: 50px;
    

}


.divs1 p{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    font-style: italic;
    margin-left: 10px;
    font-size: 20px;
}

.divs1 div{
    
    
    width: 220px;
    display: flex;
    
    
}

.divs1 .p2{
    font-size: 25px;
    color: #2F9C95;
    margin: 0;
    
}
.divs1 i{
    font-size: 25px;
}

.divs1{
    
    width: 300px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.divs2 button{
    width: 260px;
    border: none;
    height: 50px;
    border-radius: 50px;
    background-color: #4be988;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: bolder;
    color: white;
    box-shadow: 6px 6px 10px -1px rgba(0, 0, 0, 0.15),
    -6px -6px 10px -1px rgba(0, 0, 0, 0.7)
    ;
    cursor: pointer;
}

.divs2 input{
    width: 250px;
    height: 40px;
    border-radius: 10px;
    border: none;
    box-shadow: 6px 6px 10px -1px rgba(0, 0, 0, 0.15),
    -6px -6px 10px -1px rgba(0, 0, 0, 0.7)
    ;
    padding-left: 10px;
}


.divs2{
    width: 300px;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
   
    align-items: center;
}

.divs2 p{
    font-size: 25px;
    color: #2F9C95;
    margin: 0;
    
}

input:focus{
outline: none;
}

main{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.menu{
    display: none;
}

@media(min-width:2560px) {
    nav{
        
        height: 100px;
    }
    li a{
        font-size: 20px;
    }
    nav h1{
        font-size: 40px;
    }
   
    

    .div2 button{
        width: 300px;
        height: 50px;
        background-color: transparent;
        border: 2px solid white;
        border-radius: 20px;
        cursor: pointer;
        font-weight: 600;
        font-family: Arial, Helvetica, sans-serif;
        color: white;
        transition: 1s;
        position: relative;
        margin-bottom: 10px;
        left: 350px;
        top: 80px;
        
    }
    
    
    
    .div2 button:hover{
        background-color:white ;
        color:black;
    }
    
    
    
    .div2 h1{
        font-weight: 600;
        font-family: Arial, Helvetica, sans-serif;
        font-style: italic;
        font-size: 60px;
        color: #2F9C95;
        position: relative;
        top: 160px;
    
    }
    
    
    .div2 {
       
        width: 380px;
        height: 500px;
       
        
    
    }
    
    
    .div3{
        
        width: 600px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 50px;
        height: 400px;
        
    }
    .div3 p{
        font-family: Arial, Helvetica, sans-serif;
        font-weight: 600;
        font-size: 50px;
        color: white;
    }
    .div3 i{
        font-size: 60px;
        margin-left: 10px;
        cursor: pointer;
    }

    .img1{
        width: 400px;
       
        
    }
    .p2{
        font-size: 40px;
        color: rgb(36, 35, 35);
        font-weight: 600;
        font-family: Georgia, 'Times New Roman', Times, serif;
        width: 700px;
        letter-spacing: normal;
        
        margin-bottom:60px ;
    }
    
    .p3{
        font-size: 40px;
        color: rgb(36, 35, 35);
        font-weight: 600;
        font-family: Arial, Helvetica, sans-serif;
        width: 700px;
        letter-spacing: normal;
        
        
    }
    footer{
        background-color: #337357;
        height: 600px;
        margin-top: 100px;
        position: relative;
        display: flex;
        justify-content: space-around;
        top: 1px;
        
    }
}

@media(max-width:1440px) {
    nav{
        
        height: 70px;
    }
    li a{
        font-size: 15px;
    }
    nav h1{
        font-size: 30px;
    }
    

    .div2 button{
        width: 200px;
        height: 40px;
        background-color: transparent;
        border: 2px solid white;
        border-radius: 20px;
        cursor: pointer;
        font-weight: 600;
        font-family: Arial, Helvetica, sans-serif;
        color: white;
        transition: 1s;
        position: relative;
        margin-bottom: 10px;
        left: 300px;
        top: 80px;
        
    }
    
    
    
    .div2 button:hover{
        background-color:white ;
        color:black;
    }
    
    
    
    .div2 h1{
        font-weight: 600;
        font-family: Arial, Helvetica, sans-serif;
        font-style: italic;
        font-size: 50px;
        color: #2F9C95;
        position: relative;
        top: 160px;
    
    }
    
    
    .div2 {
       
        width: 380px;
        height: 500px;
       
        
    
    }
    
    
    .div3{
        
        width: 600px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 50px;
        height: 400px;
        
    }
    .div3 p{
        font-family: Arial, Helvetica, sans-serif;
        font-weight: 600;
        font-size: 43px;
        color: white;
    }
    .div3 i{
        font-size: 50px;
        margin-left: 10px;
        cursor: pointer;
    }

    .img1{
        width: 300px;
       
        
    }
    .p2{
        font-size: 30px;
        color: rgb(36, 35, 35);
        font-weight: 600;
        font-family: Georgia, 'Times New Roman', Times, serif;
        width: 600px;
        letter-spacing: normal;
        
        margin-bottom:60px ;
    }
    
    .p3{
        font-size: 30px;
        color: rgb(36, 35, 35);
        font-weight: 600;
        font-family: Arial, Helvetica, sans-serif;
        width: 600px;
        letter-spacing: normal;
        
        
    }

    .div4{
        left: 100px;
    }
    footer{
        background-color: #337357;
        height: 600px;
        margin-top: 100px;
        position: relative;
        display: flex;
        justify-content: space-around;
        top: 1px;
        
    }
}

@media(max-width:1024px) {
    nav{
        width:1024px;
        height: 70px;

    }
    li a{
        font-size: 15px;
    }
    nav h1{
        font-size: 30px;
    }
    

    .div2 button{
        width: 199px;
        height: 35px;
        background-color: transparent;
        border: 2px solid white;
        border-radius: 20px;
        cursor: pointer;
        font-weight: 600;
        font-family: Arial, Helvetica, sans-serif;
        color: white;
        transition: 1s;
        position: relative;
        margin-bottom: 10px;
        left: 240px;
        top: 80px;
        
    }
    
    
    
    .div2 button:hover{
        background-color:white ;
        color:black;
    }
    
    
    
    .div2 h1{
        font-weight: 600;
        font-family: Arial, Helvetica, sans-serif;
        font-style: italic;
        font-size: 40px;
        color: #2F9C95;
        position: relative;
        top: 160px;
        margin-left: 20px;
    
    }
    
    
    .div2 {
       
        width: 380px;
        height: 500px;
       
        
    
    }
    
    
    .div3{
        
        width: 400px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 50px;
        height: 400px;
        position: relative;
        left:30px;
        
        
    }
    .div3 p{
        font-family: Arial, Helvetica, sans-serif;
        font-weight: 600;
        font-size: 33px;
        color: white;
    }
    .div3 i{
        font-size: 40px;
        margin-left: 10px;
        cursor: pointer;
    }

    .img1{
        width: 300px;
       
        
    }
    .p2{
        font-size: 30px;
        color: rgb(36, 35, 35);
        font-weight: 600;
        font-family: Georgia, 'Times New Roman', Times, serif;
        width: 600px;
        letter-spacing: normal;
        
        margin-bottom:60px ;
    }
    
    .p3{
        font-size: 30px;
        color: rgb(36, 35, 35);
        font-weight: 600;
        font-family: Arial, Helvetica, sans-serif;
        width: 600px;
        letter-spacing: normal;
        
        
    }

    .div4{
        left: 100px;
    }

    main{
        padding-top: 60px;
    }

    .p1{
        font-size: 25px;
    }
    .div1{
        left: 630px;
        right: 0px;
    }
    footer{
        background-color: #337357;
        height: 600px;
        margin-top: 100px;
        position: relative;
        display: flex;
        justify-content: space-around;
        top: 1px;
        
    }
}

@media(max-width:768px) {
    nav{
       width: 100%;
        height: 70px;
        
    }
    li a{
        font-size: 12px;
        position: relative;
        right: 100px;
        left: 0px;
    }
    header{
        width: 100%;
    }

    .navdiv{
        position: relative;
        
        left: 165px;
        display: flex;
        flex-direction: column;
        gap: 20px;
        top:110px;
        background-color: rgba(90, 89, 89, 0.3);
        backdrop-filter: blur(2px);
        width: 200px;
        height: 150px;
        display: none;

    }
    .p1{
        font-size: 20px;
    }

    .menu{
        display: block;
        
        
    }
    .menu i{
        font-size: 25px;
        cursor: pointer;
        
        
    
    }

    #menu{
        position: relative;
        left: 85.5px;
    }

    header i:hover .navdiv{
        display: flex;
    }

    
    nav h1{
        font-size: 30px;
        position: relative;
        left: 0px;
        right: 1000px;
        

    
    }
    header{
        width:768px ;
    }

    .div2 button{
        width: 199px;
        height: 35px;
        background-color: transparent;
        border: 2px solid white;
        border-radius: 20px;
        cursor: pointer;
        font-weight: 600;
        font-family: Arial, Helvetica, sans-serif;
        color: white;
        transition: 1s;
        position: relative;
        margin-bottom: 10px;
        left: 190px;
        top: 80px;
        
    }
    
    
    
    .div2 button:hover{
        background-color:white ;
        color:black;
    }
    
    
    
    .div2 h1{
        font-weight: 600;
        font-family: Arial, Helvetica, sans-serif;
        font-style: italic;
        font-size: 40px;
        color: #2F9C95;
        position: relative;
        top: 160px;
        margin-left: 20px;
    
    }
    
    
    .div2 {
       
        width: 380px;
        height: 500px;
       
        
    
    }
    
    
    .div3{
        width:240px;
        
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 50px;
        height: 400px;
        position: relative;
        right:150px ;
        
        
    }
    .div3 p{
        font-family: Arial, Helvetica, sans-serif;
        font-weight: 600;
        font-size: 20px;
        color: white;
        position: relative;
       
    }
    .div3 i{
        font-size: 20px;
        margin-left: 10px;
        cursor: pointer;
        position: relative;
        
    }

    .img1{
        width: 200px;
       
        
    }
    .p2{
        font-size: 20px;
        color: rgb(36, 35, 35);
        font-weight: 600;
        font-family: Georgia, 'Times New Roman', Times, serif;
        width: 400px;
        letter-spacing: normal;
        
        margin-bottom:60px ;
    }
    
    .p3{
        font-size: 20px;
        color: rgb(36, 35, 35);
        font-weight: 600;
        font-family: Arial, Helvetica, sans-serif;
        width:400px;
        letter-spacing: normal;
        
        
    }

    .div4{
        left: 30px;
    }

    main{
        padding-top: 60px;
    }

    
    .div1{
        left: 500px;
        right: 0px;
    }
    footer{
        background-color: #337357;
        height: 600px;
        margin-top: 100px;
        position: relative;
        display: flex;
        justify-content: space-evenly;
        top: 1px;
        width: 100%;
        
    }
}

@media(max-width:425px) {
    nav{
        width: 425px;
        height: 70px;
        
    }
    li a{
        font-size: 12px;
        position: relative;
        right: 100px;
        left: 0px;
    }
    header{
        width: 425px;
        display: flex;
        justify-content: center;
    }

 
    .navdiv{
        position: relative;
        
        left: 62px;
        display: flex;
        flex-direction: column;
        gap: 20px;
        top:110px;
        background-color: rgba(90, 89, 89, 0.3);
        backdrop-filter: blur(2px);
        width: 200px;
        height: 150px;
        display: none;

    }
    .p1{
        font-size: 20px;
        position: relative;
        left: 30px;
        right: 0px;
    }

    .menu{
        display: block;
        
        
    }
    .menu i{
        font-size: 25px;
        cursor: pointer;
        
        
    
    }

    #menu{

        position: relative;
        left:56px;
    }
    

    header i:hover .navdiv{
        display: flex;
    }

    
    nav h1{
        font-size: 30px;
        position: relative;
        left: 20px;
        right: 0px;
        

    
    }

    .p1{
        font-size: 12px;
        left: 0px;
        right: 20px;
    }
    

    .div2 button{
        width: 199px;
        height: 35px;
        background-color: transparent;
        border: 2px solid white;
        border-radius: 20px;
        cursor: pointer;
        font-weight: 600;
        font-family: Arial, Helvetica, sans-serif;
        color: white;
        transition: 1s;
        position: relative;
        margin-bottom: 10px;
        left: 0px;
        top: 0px;
        
    }
    
    
    
    .div2 button:hover{
        background-color:white ;
        color:black;
    }
    
    
    
    .div2 h1{
        font-weight: 600;
        font-family: Arial, Helvetica, sans-serif;
        font-style: italic;
        font-size: 40px;
        color: #2F9C95;
        position: relative;
        top: 0px;
        margin-bottom: 20px;
    
    }
    
    
    .div2 {
       
        width: 380px;
        height: 500px;
       flex-direction: column;
       display: flex;
       position: relative;
       top: 100px;
       left: 30px;

        
    
    }
    
    
    .div3{
        width:300px;
        
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 50px;
        height: 400px;
        position: relative;
        right:150px ;
        left: 0px;
        
        
        
    }
    .div3 p{
        font-family: Arial, Helvetica, sans-serif;
        font-weight: 600;
        font-size: 14px;
        color: white;
        position: relative;
        margin-left: 10px;
       
    }
    .div3 i{
        font-size: 20px;
        margin-left: 10px;
        cursor: pointer;
        position: relative;
        
    }

    .img1{
        width: 200px;
       
        
    }
    .p2{
        font-size: 20px;
        color: rgb(36, 35, 35);
        font-weight: 600;
        font-family: Georgia, 'Times New Roman', Times, serif;
        width: 320px;
        letter-spacing: normal;
        
        margin-bottom:60px ;
    }
    
    .p3{
        font-size: 20px;
        color: rgb(36, 35, 35);
        font-weight: 600;
        font-family: Arial, Helvetica, sans-serif;
        width:400px;
        letter-spacing: normal;
        
        
    }

    .div4{
        left: 0px;
    }

    main{
        padding-top: 60px;
        flex-direction: column;
        padding: 200px 0px;
        
    
    }

    
    .div1{
        left: 340px;
        right: 0px;
        height: 20px;
        
    }
    footer{
        background-color: #337357;
        height: 600px;
        margin-top: 100px;
        position: relative;
        display: flex;
        justify-content: space-evenly;
        top: 1px;
        width: 100%;
        
    }
}

@media(max-width:375px) {
    nav{
        width: 375px;
        height: 70px;
        
    }
    li a{
        font-size: 12px;
        position: relative;
        right: 100px;
        left: 0px;
    }
    header{
        width: 375px;
        display: flex;
        justify-content: center;
    }

 
    .navdiv{
        position: relative;
        
        left: 35px;
        display: flex;
        flex-direction: column;
        gap: 20px;
        top:110px;
        background-color: rgba(90, 89, 89, 0.3);
        backdrop-filter: blur(2px);
        width: 200px;
        height: 150px;
        display: none;

    }
    .p1{
        font-size: 20px;
        position: relative;
        left: 30px;
        right: 0px;
    }

    .menu{
        display: block;
        
        
    }
    .menu i{
        font-size: 25px;
        cursor: pointer;
        
        
    
    }

    #menu{

        position: relative;
        left:53px;
    }
    

    header i:hover .navdiv{
        display: flex;
    }

    
    nav h1{
        font-size: 30px;
        position: relative;
        left: 20px;
        right: 0px;
        

    
    }

    .p1{
        font-size: 12px;
        left: 0px;
        right: 20px;
    }
    

    .div2 button{
        width: 159px;
        height: 35px;
        background-color: transparent;
        border: 2px solid white;
        border-radius: 20px;
        cursor: pointer;
        font-weight: 600;
        font-family: Arial, Helvetica, sans-serif;
        color: white;
        transition: 1s;
        position: relative;
        margin-bottom: 10px;
        left: 0px;
        top: 0px;
        
    }
    
    
    
    .div2 button:hover{
        background-color:white ;
        color:black;
    }
    
    
    
    .div2 h1{
        font-weight: 600;
        font-family: Arial, Helvetica, sans-serif;
        font-style: italic;
        font-size: 30px;
        color: #2F9C95;
        position: relative;
        top: 0px;
        margin-bottom: 20px;
    
    }
    
    
    .div2 {
       
        width: 380px;
        height: 500px;
       flex-direction: column;
       display: flex;
       position: relative;
       top: 100px;
       left: 30px;

        
    
    }
    
    
    .div3{
        width:300px;
        
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 50px;
        height: 400px;
        position: relative;
        right:150px ;
        left: 0px;
        
        
        
    }
    .div3 p{
        font-family: Arial, Helvetica, sans-serif;
        font-weight: 600;
        font-size: 14px;
        color: white;
        position: relative;
        margin-left: 1px;
       
    }
    .div3 i{
        font-size: 19px;
        margin-left: 5px;
        cursor: pointer;
        position: relative;
        
    }

    .img1{
        width: 200px;
       
        
    }
    .p2{
        font-size: 20px;
        color: rgb(36, 35, 35);
        font-weight: 600;
        font-family: Georgia, 'Times New Roman', Times, serif;
        width: 320px;
        letter-spacing: normal;
        
        margin-bottom:60px ;
    }
    
    .p3{
        font-size: 20px;
        color: rgb(36, 35, 35);
        font-weight: 600;
        font-family: Arial, Helvetica, sans-serif;
        width:350px;
        letter-spacing: normal;
        
        
    }

    .div4{
        left: 0px;
    }

    main{
        padding-top: 60px;
        flex-direction: column;
        padding: 200px 50px;
        
    
    }

    
    .div1{
        left: 330px;
        right: 0px;
        height: 20px;
        
    }
    footer{
        background-color: #337357;
        height: 600px;
        margin-top: 100px;
        position: relative;
        display: flex;
        justify-content: space-evenly;
        top: 1px;
        width: 100%;
        
    }
}

@media(max-width:320px) {
    nav{
        width: 320px;
        height: 70px;
        
        
    }
    li a{
        font-size: 12px;
        position: relative;
        right: 100px;
        left: 0px;
    }
    header{
        width: 320px;
        display: flex;
        justify-content: center;
    }

 
    .navdiv{
        position: relative;
        
        left: 15px;
        display: flex;
        flex-direction: column;
        gap: 20px;
        top:110px;
        background-color: rgba(90, 89, 89, 0.3);
        backdrop-filter: blur(2px);
        width: 200px;
        height: 150px;
        display: none;

    }
    header .p1{
        font-size: 9px;
        position: relative;
        left: 0px;
        right: 10px;
    }

    .menu{
        display: block;
        
        
    }
    .menu i{
        font-size: 25px;
        cursor: pointer;
        
        
    
    }

    #menu{

        position: relative;
        left:43px;
    }
    

    header i:hover .navdiv{
        display: flex;
    }

    
    nav h1{
        font-size: 30px;
        position: relative;
        left: 20px;
        right: 0px;
        

    
    }

    .p1{
        font-size: 12px;
        left: 0px;
        right: 20px;
    }
    

    .div2 button{
        width: 159px;
        height: 35px;
        background-color: transparent;
        border: 2px solid white;
        border-radius: 20px;
        cursor: pointer;
        font-weight: 600;
        font-family: Arial, Helvetica, sans-serif;
        color: white;
        transition: 1s;
        position: relative;
        margin-bottom: 10px;
        left: 0px;
        top: 0px;
        
    }
    
    
    
    .div2 button:hover{
        background-color:white ;
        color:black;
    }
    
    
    
    .div2 h1{
        font-weight: 600;
        font-family: Arial, Helvetica, sans-serif;
        font-style: italic;
        font-size: 30px;
        color: #2F9C95;
        position: relative;
        top: 0px;
        margin-bottom: 20px;
    
    }
    
    
    .div2 {
       
        width: 350px;
        height: 500px;
       flex-direction: column;
       display: flex;
       position: relative;
       top: 100px;
       left: 5px;

        
    
    }
    
    
    .div3{
        width:300px;
        
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 50px;
        height: 400px;
        position: relative;
        right:150px ;
        left: 0px;
        
        
        
    }
    .div3 p{
        font-family: Arial, Helvetica, sans-serif;
        font-weight: 600;
        font-size: 12px;
        color: white;
        position: relative;
        margin-left: 1px;
       
    }
    .div3 i{
        font-size: 19px;
        margin-left: 5px;
        cursor: pointer;
        position: relative;
        
    }

    .img1{
        width: 200px;
       
        
    }
    .p2{
        font-size: 20px;
        color: rgb(36, 35, 35);
        font-weight: 600;
        font-family: Georgia, 'Times New Roman', Times, serif;
        width: 300px;
        letter-spacing: normal;
        
        margin-bottom:60px ;
    }
    
    .p3{
        font-size: 20px;
        color: rgb(36, 35, 35);
        font-weight: 600;
        font-family: Arial, Helvetica, sans-serif;
        width:300px;
        letter-spacing: normal;
        
        
    }

    .div4{
        left: 0px;
    }

    main{
        padding-top: 60px;
        flex-direction: column;
        padding: 300px 50px;
        
    
    }

    
    .div1{
        left: 255px;
        right: 0px;
        height: 20px;
        
    }
    footer{
        background-color: #337357;
        height: 600px;
        margin-top: 100px;
        position: relative;
        display: flex;
        justify-content: space-evenly;
        top: 1px;
        width: 100%;
        
    }
}