.nodiko{
background: linear-gradient(red,blue,green,blue,red);
color: black;



}

.nodiko1{

    background: linear-gradient(red,blue,green,blue,red);
    color: black;

    
}

.nodiko2{

    background: linear-gradient(red,blue,green,blue,red);
    color: black;

    
}

.nodiko3{

    background: linear-gradient(red,blue,green,blue,red);
    color: black;

    
}

.nodiko4{

    background: linear-gradient(red,blue,green,blue,red);
    color: black;

    
}




#nodiko{

    background: linear-gradient(red,blue,green,blue,red);
    color: black;

    
}

#nodiko1{

    background: linear-gradient(red,blue,green,blue,red);
    color: black;

    
}

#nodiko2{

    background: linear-gradient(red,blue,green,blue,red);
    color: black;

    
}

#nodiko3{

    background: linear-gradient(red,blue,green,blue,red);
    color: black;

    
}

#nodiko4{

    background: linear-gradient(red,blue,green,blue,red);
    color: black;

    
}

