*{
    margin:0;
    margin-bottom: 10px;
    padding: 0;
    font-family: Arial
}
body{
    background-color: antiquewhite;
    display: flex;
    justify-content: center;
    
}
div{
    border-radius: 10px;
    background-color: white;
    width: 520px;
    height: 350px;
    position: relative;
    top: 100px;
    border: solid 2px black;
}

div p{
    color:rgb(104, 104, 104) ;
    
}

div img{
    float: left;
    mix-blend-mode: multiply;
    height: 350px;
    width: 290px;
    border-right: solid 1px black;
    margin-right: 10px;
    border-radius: 10px 0 0 10px;
}

div button{
    background-color:rgb(81, 173, 81);
    width: 200px;
    height: 30px;
    border: solid rgb(81, 173, 81);
    border-radius: 10px;
    font-size: 20px;
    cursor: pointer;
    position: relative;
    bottom: 20px;

}
.h2{
    color: rgb(81, 173, 81);
}
.p3
{
    position: relative;
    left: 125px;
    bottom: 35px;
}
